@{
    ViewData["Title"] = "About Page";
}

<div class="about-div">
    
    <div class="about-info">
        <h1 class="about-h1">Our Service</h1>

        <a asp-area ="" asp-controller="Pets" asp-action="Index" class="about-h2-anchor"><h2 class="about-h2">Pet Adoption</h2></a>
        <p class="about-paragraph">
            The primary service is to facilitate the adoption of homeless dogs.
        </p>

        <a asp-area="" asp-controller="Contact" asp-action="Index" class="about-h2-anchor"><h2 class="about-h2">Animal Rescue</h2></a>
        <p class ="about-paragraph">
            Many adoption centers rescue animal from abusive or neglectful situations.
        </p>
        <a asp-area="" asp-controller="Pets" asp-action="GiveUpForAdoption" class="about-h2-anchor"><h2 class="about-h2">Help Finding a Home</h2></a>
        <p class="about-paragraph">

            Another service we provide is find a home to those pets that, for any reason, cannot live in their current home.
        </p>
    </div>
    <div class="about-img">
        <img src="./css/Assets/about-dog.png" alt="Dog ready to play" />
    </div>
</div>